@import '../../common/common.scss';

.doctor-availability {
    .availability-title {
        display: flex;
        padding: 10px 16px;
        align-items: center;

        .header-text {
            flex: auto;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.48px;
        }

        .all-text {
            flex: initial;
            font-size: 13px;
            font-weight: 400;
            color: #5851E1;
            letter-spacing: 0.39px;
            text-align: right;
            margin-right: 4px;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .sf-listview {
        overflow: auto;
    }

    .sf-list-container,
    .e-list-container {
        padding-top: 17.5px;
    }

    .sf-list-item,
    .e-list-item {
        border: none;
        display: flex;
        padding: 5px 16px;

        .availabilty-container {
            display: flex;
            width: 100%;
            align-items: center;

            .image-container {
                display: flex;
                align-items: center;
                padding-left: 1px;

                .doctor-image {
                    display: inline-block;
                    position: relative;
                    width: 32px;
                    height: 32px;
                    padding: 0;

                    .doctor-avatar {
                        display: block;
                        height: 32px;
                        width: 32px;
                        border-radius: 16px;
                        object-fit: cover;
                    }

                    .availability {
                        &.busy,
                        &.available,
                        &.away {
                            display: inline-block;
                            border: 2px solid $planner-element-back-color;
                            border-radius: 16px;
                            height: 12px;
                            width: 12px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }

                        &.busy {
                            background: #D40000;
                        }

                        &.away {
                            background: #FF8C2E;
                        }

                        &.available {
                            background: #00D406;
                        }
                    }
                }
            }

            .detail-container {
                display: flex;
                flex-direction: column;
                padding-left: 16px;

                .doctor-name {
                    font-weight: 500;
                    font-size: 13px;
                    letter-spacing: 0.39px;
                    padding: 3px 0;
                }

                .doctor-speciality {
                    font-size: 10px;
                    letter-spacing: 0.3px;
                    padding: 2px 0;
                }
            }
        }
    }
}

div[id^=listview].e-tooltip-wrap {
    border-radius: 15px 15px 15px 0;
    opacity: 0.8;
    background: $planner-tooltip-bg-color;

    .e-tip-content {
        border-radius: 15px 15px 15px 0;
        font-size: 13px;
        color: $planner-element-back-color;
        letter-spacing: 0.39px;
        padding: 5px 8px;
    }
}