@import '../../common/common.scss';

.new-doctor-dialog {
    max-height: 98% !important;

    .sf-dlg-content,
    .e-dlg-content {
        #new-doctor-form {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .name-container,
        .email-container,
        .duty-container {
            width: 100%;
        }

        .gender-container,
        .education-container,
        .experience-container {
            display: flex;
            gap: 16px;
            align-items: flex-start;
        }

        .gender,
        .mobile,
        .department,
        .education,
        .experience,
        .designation {
            flex: 1;
            min-width: 0;
        }
        .gender {
            display: flex;
            flex-direction: column;

            .gender-label {
                height: 10px;
            }
        }

        .gender .gender-label {
            font-weight: 600;
            font-size: 12px;
            color: #333;
        }

        .mobile {
            display: flex;
            flex-direction: column;
        }

        .e-btn-group {
            width: 100%;
            height: 35px;
            display: flex;
        }

        .e-btn-group label {
            flex: 1;
            text-align: center;
        }

        .e-btn-group input:checked + label.e-btn {
            background-color: #e6e6e6;
            border-color: #adadad;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .12);
            color: #333;
        }
        .sf-input-group,
        .sf-dropdown,
        .sf-ddl,
        .e-control-wrapper,
        .e-input-group {
            width: 100% !important;
        }

        .education,
        .department,
        .experience,
        .designation {
            display: flex;
            flex-direction: column;
        }

        .e-float-input input,
        .sf-input {
            color: $planner-font-color1 !important;
        }
    }

    .sf-dlg-footer-content {
        .button-container {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}